.country-card {
  max-width: 300px;
  border-radius: 12px;
  padding: 16px;
  margin: 16px;
  background-color: #ffffff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid rgba(255, 134, 54, 0.178);
}

.country-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.country-flag {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 12px;
  border: 1px solid rgb(201, 201, 201);
}

.country-name {
  margin: 0;
  font-size: 1.5rem;
  color: #2c3e50;
}

.btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  color: #fff;
}
.visited{
  background-color: bisque;
}